<!-- howdy/templates/about.html -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'howdy/style.css' %}" />
<!--set responsive viewport, very important, first step! :D -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<DOCTYPE html>
<HTML>
<HEAD> 
    <TITLE> STINA | HomePage </TITLE>
    <!--this is where you used to link your css file, but we have a new one and a new system
    so that link is now at the top of the page-->
    <!--<link rel="stylesheet" type="text/css" href="stylesheet.css">-->
</HEAD>
<BODY>
<div> 
<header>
    <h1 class="header">  christina g rodriguez </h1>
</header>
</div>
<div class="col-3 col-m-3 menu">
<nav>
    <ul>
         <a href="/"><li>Home</li></a>
         <a href="/about/"><li>About Me</li></a>
         <a href="/portfolio/"><li>Portfolio</li></a>
         <a href="contact.html"><li>Contact</li></a>
    </ul>
</nav>
</div>

<head>
    <meta charset="utf-8">
    <title>Howdy!</title>
</head>
<body>
    <h1>Welcome to the about page</h1>
<p>
I like learning...live in Wreck E Vick... from Cali  
</p>
<a href="/">Go back home</a>
</body>
</html>