<!-- howdy/templates/portfolio.html -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'howdy/style.css' %}" />
<!--set responsive viewport, very important, first step! :D -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html>
<div id="wrapper"> 
    <nav>
        <ul class="main_menu">
         <li><a href="/">Home</a></li>
         <li><a href="/about/">About Me</a></li>
         <li><a href="/portfolio/">Portfolio</a></li>
         <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
<header>
    <H1 ALIGN="CENTER">  christina g rodriguez </H1>
</header>
</div>
<head>
    <meta charset="utf-8">
    <title>Howdy!</title>
</head>
<body>
    <h1>Welcome to the portfolio page</h1>
<p>
tiles of all the stuff I do in life...   
</p>
<p>
    <b>
        maybe we can put examples of your learning on here and use this as something <br>
         to submit when you apply to med school?
    </b>
</p>
<a href="/">Go back home</a>
</body>
</html>